body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    background-color: black;
}
button {
    padding: 10px 20px;
    background-color: #171717;
    color: white;
    border-width: 1px;
    border-radius: 2px;
    border-color: white;
    font-size: 1em;
    cursor: pointer;
    margin: 5px;
}
.camera{
    border-radius: 4px;
    background: #000;
    width: 640px;
    height: 380px;
    object-fit: contain;
}
.telemetry {
    font-size: 1.2em;
    min-height: 200px;
    min-width: 200px;
}
.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.card {
    padding: 20px;
    border: 1px solid white;
    border-radius: 8px;
}
