<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Robot Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <h1>Robot Control Panel</h1>
    <div style="margin-top: 20px; margin-bottom: 10px;">
        <p>Connection Status: <span id="status" style="color: red;">Disconnected</span></p>
        <p>Web Controller Status <span id="webControllerStatus" style="color: red;">Disconnected</span> </p>
    </div>
    <div class="container">
        <div class="card">
            <h3>Live Camera Output (RGB)</h3>
            <img id="videoStream" alt="Waiting for video feed..." />
        </div>

        <div class="card">
            <h3>Telemetry</h3>
            <div class="telemetry" id="telemetry">
                <!-- Filled automatically -->
            </div>
        </div>
        <div class="card">
            <h3>Robot Commands</h3>
            <div class="Commands">
                <button onclick="sendCommand('STATE', 'IDLE')">IDLE</button>
                <button onclick="sendCommand('STATE', 'AUTO')">AUTO</button>
                <button onclick="sendCommand('DIRECT_CONTROL', 0)">Direct Controller Mode</button>
                <button onclick="sendCommand('WEB_CONTROL', 0)">Web Based Controller Mode</button>
                <button onclick="sendCommand('DISCONNECT', 0)">DISCONNECT</button>
                <button onclick="sendCommand('CONNECT', 0)">CONNECT</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
